<h1 style="text-align: center;">Registro de Proveedor</h1>
<br><br>
<form>
  <div class="input-card">
    <input type="text" id="nombre" name="nombre" placeholder="Nombre del proveedor" class="input-inner" required>
  </div>

  <div class="input-card">
    <input type="email" id="email" name="email" placeholder="Correo electrónico" class="input-inner" required>
  </div>

  <div class="input-card">
    <input type="tel" id="telefono" name="telefono" placeholder="Número de teléfono" class="input-inner" required>
  </div>

  <button type="submit">Registrar Proveedor</button>
</form>
