<div class="max-w-7xl mx-auto p-4 mt-10 mb-20 bg-gray-200">

  <div class="flex items-center justify-center gap-x-4 mb-5 max-w-7xl mx-auto px-4">
    <h1 class="text-5xl font-bold text-gray-900">
      Lista de empleados
    </h1>
    <!--<img src="https://cdn-icons-png.flaticon.com/512/3135/3135715.png" alt="Empleados" class="w-12 h-12" />-->
  </div>

  <div class="p-4 bg-gray-400 grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 gap-4 justify-center">

    @for (empleado of empleados; track empleado.id_empleado) {
    <div
      class="card-empleado w-full max-w-xs mx-auto shadow-xl p-5 transition-transform duration-300 hover:scale-105 h-[400px] flex flex-col justify-between mt-4 bg-gray-200">

      <!-- Info empleado -->
      <div class="overflow-hidden flex flex-col h-full justify-center card-hover">

        <h2 class="text-lg font-bold text-blue-600 mb-2 truncate text-center">
          {{ empleado.nombre }} {{ empleado.apellido }}
        </h2>
        <p class="text-sm text-gray-600 text-center">{{ empleado.cargo }}</p>

        <div class="text-sm text-gray-700 mt-4 space-y-1">
          <p><strong>ID:</strong> {{ empleado.id_empleado }}</p>
          <p><strong>Teléfono:</strong> {{ empleado.telefono }}</p>
          <p><strong>Salario:</strong> ${{ empleado.salario }}</p>
          <p><strong>Email:</strong> {{ empleado.email }}</p>
        </div>

        <!-- Botones -->
        <div class="flex gap-2 mt-4">
          <button class="w-1/2 bg-yellow-400 hover:bg-yellow-500 text-black font-semibold rounded-xl text-sm px-4 py-2"
            [routerLink]="['/editar-empleado', empleado.id_empleado]">
            Editar
          </button>

          <button class="w-1/2 bg-red-500 hover:bg-red-900 text-white font-semibold rounded-xl text-sm px-4 py-2"
            (click)="eliminarEmpleado(empleado.id_empleado!)">
            Eliminar
          </button>
        </div>
      </div>
    </div>
    }
  </div>
</div>
