<form class="registro-proveedor-form">
    <h3>Registro Empleado</h3>
    
    <div class="input-card">
        <input type="text" id="nombre" placeholder="Nombre del empleado" class="input-inner" />
    </div>
    
    <div class="input-card">
        <input type="text" id="apellido" placeholder="Apellido del empleado" class="input-inner" />
    </div>
    
    <div class="input-card">
        <input type="text" id="cargo" placeholder="Cargo del empleado" class="input-inner" />
    </div>
    
    <div class="input-card">
        <input type="number" id="salario" placeholder="Salario" class="input-inner" />
    </div>
    
    <div class="input-card">
        <input type="text" id="usuario" placeholder="Nombre de usuario" class="input-inner" />
    </div>
    
    <div class="input-card">
        <input type="password" id="password" placeholder="Contraseña" class="input-inner" />
    </div>
    
    <div class="input-card">
        <select id="rol" class="input-inner">
            <option value="empleado">Empleado</option>
            <option value="admin">Administrador</option>
        </select>
    </div>
    
    <button type="submit">Registrar Empleado</button>
</form>