<form class="registro-proveedor-form">
    <h3>Registro Cliente</h3>
    
    <div class="input-card">
        <input type="text" id="nombre" placeholder="Nombre del cliente" class="input-inner" />
    </div>
    
    <div class="input-card">
        <input type="text" id="apellido" placeholder="Apellido del cliente" class="input-inner" />
    </div>
    
    <div class="input-card">
        <input type="email" id="email" placeholder="Correo electrónico" class="input-inner" />
    </div>
    
    <div class="input-card">
        <input type="text" id="telefono" placeholder="Número de teléfono" class="input-inner" />
    </div>
    
    <div class="input-card">
        <input type="text" id="direccion" placeholder="Dirección completa" class="input-inner" />
    </div>
    
    <div class="input-card">
        <input type="text" id="usuario" placeholder="Nombre de usuario" class="input-inner" />
    </div>
    
    <div class="input-card">
        <input type="password" id="password" placeholder="Contraseña" class="input-inner" />
    </div>
    
    <button type="submit">Registrar Cliente</button>
</form>