<section class="bg-blue-100 py-16 px-6">
  <h2 class="text-3xl font-bold text-center text-gray-800 mb-10">Nuestro Equipo</h2>
  <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-6">
    <div class="team-member text-center">
      <img src="https://www.shutterstock.com/image-photo/smiling-supermarket-worker-using-digital-260nw-2498629131.jpg" alt="Miembro del equipo" class="w-32 h-32 rounded-full mx-auto mb-4 team-img"/>
      <h3 class="font-semibold">Juan Pérez</h3>
      <p>Gerente General</p>
    </div>
    <div class="team-member text-center">
      <img src="https://thumbs.dreamstime.com/b/trabajador-de-sexo-masculino-del-supermercado-41252790.jpg" alt="Miembro del equipo" class="w-32 h-32 rounded-full mx-auto mb-4 team-img"/>
      <h3 class="font-semibold">Roberto Carlos</h3>
      <p>Encargado de bodega</p>
    </div>
    <div class="team-member text-center">
      <img src="https://st.depositphotos.com/1011643/4757/i/450/depositphotos_47578217-stock-photo-saleswoman-standing-in-store.jpg" alt="Miembro del equipo" class="w-32 h-32 rounded-full mx-auto mb-4 team-img"/>
      <h3 class="font-semibold">Maria Pinto</h3>
      <p>Analista de Mercadería</p>
    </div>
    <!-- Más miembros del equipo -->
  </div>
</section>
